/* General Styles */
.display-flex{
    display: flex;
}

.bg-color{
    background-color: rgba(232, 231, 242, 0.50);
}

.default-area{
    max-width: 1140px;
    margin: 0px auto;
}

.regular-paragraph{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

/* Inter Font */
.inter-regular{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Noto Serif Font */
.noto-serif-regular{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.btn-primary{
    border: none;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    padding: 0px 26px;
    margin: 0px;
    width: 186px;
    /* height: 50px; */
    font-weight: 600;
    font-size: 1rem;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

/* NAV Secion Styles */
.link-list-item{
    list-style: none;
}

.link-text-decoration{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.125rem;
}

.nav-bar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.nav-links{
    gap: 48px;
}

#home-text{
    font-weight: 700;
    color: #000000;
}

#cart-text{
    color: #000000;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

/* Hero Section */

.hero-text{
    max-width: 570px;
}

.hero-heading{
    font-weight: bold;
    font-size: 4.0625rem;
    color: rgba(233, 90, 8, 1);
    margin-top: 0px;
    margin-bottom: 0px;
}

#hero-heading-black{
    color: #000000;
}

.hero-paragraph{
    margin: 13px 0px 0px 0px;
}

.hero-section{
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 120px;
}


/* ----------------------------------------------------------------------------------------- */
/* Plants Section */
/* ----------------------------------------------------------------------------------------- */

/* for heading */
.plants-section-text h3{
    color: rgba(233, 90, 8, 1);
    font-weight: bold;
    font-size: 3.125rem;
    text-align: center;
    margin: 0px auto;
}
#plants-heading-black{
    color: #000000;
}

/* for paragraph */
.plants-section-text p{
    text-align: center;
    max-width: 888px;
    margin: 0px auto 49px auto;
    /* border: 2px solid tomato; */
}

/* for cards */
/* .plant-section-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px auto 210.12px auto;
} */

/* .cards-first-row{
    display: flex;
    justify-content: space-between;

}

.cards-second-row{
    display: flex;
    justify-content: space-between;

} */

.plant-item{
    max-width: 270px;
}

.plant-name{
    text-align: center;
    margin: 20px auto 2px auto;
}

.plant-price{
    font-weight: bold;
    text-align: center;
    margin: 0px auto 30px auto;
}

.button-cart{
    width: 100%;
    height: 50px;
}

.plant-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    /* border: 2px dashed red; */
    margin: 0px auto 210.12px auto;
}


/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

/* Plants lover Section */

.plants-lover-section{
    display: flex;
    gap: 60px;
    /* border: 2px solid red; */
    margin: 0px auto 133.88px auto;
}

.plants-lovers-description{
    max-width: 540px;
    margin: 38px 0px 38px 0px;
    /* border: 2px dashed black; */
}

/* for heading */
.plants-lovers-description h3{
    font-weight: bold;
    font-size: 3.125rem;
    margin: 0px auto 20px auto;
}

/* for texts */
.description{
    margin: 0px auto 20px auto;

}

.plant-lover-images img{
    max-width: 540px;
}

.badge{
    width: 286px;
    margin: 0px;
    translate: -200px -130px;

    position: absolute;
}



/* ----------------------------------------------------------------------------------------- */
/* Latest Deals Section */
/* ----------------------------------------------------------------------------------------- */

.latest-deals-section{
    margin: 0px auto 120px auto;
}

/* for heading */
.latest-deals-text h3{
    color: rgba(233, 90, 8, 1);
    font-weight: bold;
    font-size: 3.125rem;
    text-align: center;
    margin: 0px auto;
}
#latest-heading-black{
    color: black;
}
/* for paragraph */
.latest-deals-text p{
    text-align: center;
    max-width: 888px;
    margin: 16px auto 120px auto;
}

.deals{
    height: 423.12px;
    display: grid;
    grid-template-columns: 367px auto;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px 28px;
}

.bloom-plants{
    background-image: url("../assets/deal-bloom.png");
    background-repeat: no-repeat;
    /* max-width: 367px; */
    /* height: 201px; */
    border-radius: 14px;

    grid-row: 1;
    grid-column: 1 /2;
}
.bloom-plants h5{
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    /* border: 2px dashed red; */
    margin: 0px auto;
}

.ana-plants{
    background-image: url("../assets/deal-ana.png");
    background-repeat: no-repeat;
    /* max-width: 367px;
    height: 201px; */
    border-radius: 14px;

    grid-row: 2;
    grid-column: 1 / 2;
}
.ana-plants h5{
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    /* border: 2px dashed red; */
    margin: 0px auto;
}

.zabo-plants{
    background-image: url("../assets/deal-zabo.png");
    background-repeat: no-repeat;
    /* max-width: 367px; */
    /* height: 201px; */
    border-radius: 14px;

    grid-column: 2;
    grid-row: 1 / 3;
}
.zabo-plants h5{
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    /* border: 2px dashed red; */
    margin: 0px auto;
}

.shop-now-link{
    color: white;
    font-weight: 600;
    font-size: 1rem;
    /* border: 2px dashed white; */
}
.deals-description{
    height: 201px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 423.12px; */
    /* border: 5px dashed black; */
}

.deals-description-zabo{
    /* height: 201px; */
    height: 423.12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* border: 5px dashed black; */
}


/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

/* Join Section */
.join-section{
    background-image: url("../assets/news-letter-bg.png");
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 533px;
    margin: 0px auto 50px auto;
    /* border: 5px solid red; */
}

.join-section-contents{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 533px;
    /* border: 5px solid black; */
}

.form-email{
    align-items: center;
    gap: 0px;
    height: 50px;
    /* border: 1.5px solid red; */
}

/* for heading */
.join-section-contents h3{
    font-weight: bold;
    font-size: 3.125rem;
    color: white;
    text-align: center;
    /* border: 5px dashed red; */
    margin-top: 0px;
    margin-bottom: 23px;
}
/* for email */
.form-email input{
    width: 644px;
    height: 100%;
    padding: 0px 0px 0px 20px;
    border: none;
    /* border: 1.5px solid red; */
}

/* for button */
.form-email button{
    height: 100%;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

/* Footer Section */
.footer-section{
    gap: 110.67px;
    /* align-items: start; */
}

.footer-links{
    gap: 110.67px;
}

.footer-card{
    max-width: 359px;
}

.footer-link-item{
    margin-bottom: 26px;
}

.footer-social-media{
    padding: 0px;
    align-items: center;
    gap: 24px;
    max-width: 216px;
    /* border: 1px solid tomato; */
}


/* ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */



/* Responsive For Mobile Device */

@media screen and (max-width:576px){

    .not-for-mobile{
        display: none;
    }

    .hero-section{
        flex-direction: column-reverse;
    }

    /* Plants Responsive Section Started */
    .plant-cards{
        grid-template-columns: repeat(2, 1fr);
        /* border: 2px solid red; */
    }

    .plant-item img{
        max-width: 100%;
        height: auto;
    }
    /* Plants Responsive Section Ended */

    /* Plants Lover Responsive Section Started */
    .plants-lover-section{
        flex-direction: column;
        row-gap: 18px;
        /* border: 2px solid red; */
        margin: 0px;
    }

    .plant-lover-images img{
        max-width: 100%;
        height: auto;
    }
    /* Plants Lover Responsive Section Ended */

    /* Latest Deals Responsive Section Started */
    .latest-deals-text p{
        margin-bottom: 51px;
    }

    .deals{
        height: auto;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        padding: 0;
        border: 3px dashed green;
        justify-content: center;
    }

    .deals-description{
        border: 5px dashed blue;
        height: 100%;
        
    }

    .bloom-plants{
        grid-row: 1;
        border: 5px solid red;
    }

    .ana-plants{
        grid-row: 2;
    }

    .zabo-plants{
        grid-column: 1;
        grid-row: 3;
    }

    .deals-description-zabo{
    height: 201px;
    }
    /* Latest Deals Responsive Section Ended */

    /* Footer Responsive Section Started */
    .form-email input{
        width: auto;
    }

    .footer-section{
        flex-direction: column;
        gap: 20px;
    }

    .footer-links{
        flex-direction: column;
        gap: 0px;
        /* border: 2px dashed red; */

    }

    .footer-links ul{
        padding-inline-start: 0px;
        margin: 0;
    }
    /* Footer Responsive Section Ended */

}
    
    